body {
  font-family: var(--fonte);
  background-color: var(--cinza-claro);
  color: var(--texto);
}
 
.integrantes-section {
    text-align: center;
    padding: 40px 20px;
}
 
.integrantes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}
 
.integrante-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}
 
.integrante-card:hover {
    transform: translateY(-6px);
}
 
.integrante-card img {
    width: 220px;
    height: 220px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}
 
.integrante-card h3 {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}