body {
  font-family: var(--fonte);
  background-color: var(--cinza-claro);
  color: var(--texto);
}
 
.menu {
  background-color: #b5dbf5;
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  flex-wrap: wrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.hidden {
  display: none;
}
#menu-button {
  font-size: 20px;
  cursor: pointer;
}
.menu h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  margin-left: 16px;
  letter-spacing: 0.5px;
}
.menu nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease;
}
.menu nav a:hover {
  color: #200ae9;
}
section {
    margin-bottom: 48px;
    background: var(--branco);
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    padding: 32px;
}
 
section h2 {
    font-size: 28px;
    color: var(--texto);
    margin-bottom: 24px;
}

.integrantes-section {
    text-align: center;
    padding: 40px 20px;
}
 
.integrantes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}
 
.integrante-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}
 
.integrante-card:hover {
    transform: translateY(-6px);
}
 
.integrante-card img {
    width: 220px;
    height: 220px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}
 
.integrante-card h3 {
    font-size: 20px;
    color: #333;
    margin-top: 5px;
}